<header>
    <nav class ="navbar navbar-expand-md">
        
        <ul class="navbar-nav">
            <li><a *ngIf="customAut.isUserLoggegIn()" routerLink="/welcome/brahian" class="nav-link" >Home</a></li>
            <li><a *ngIf="customAut.isUserLoggegIn()" routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>
        
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!customAut.isUserLoggegIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="customAut.isUserLoggegIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>

</header>